body {
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 30px;
}

textarea {
    width: 300px;
    height: 80px;
}

input {
    width: 300px;
}

button {
    padding: 8px 15px;
    background-color: black;
    color: white;
    border: none;
}
